@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
}

.container__main-section, .container__loading, .container__error-box, .container__not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__main-section, .container__error-box, .container__not-found {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__loading, .container__error-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__main-section {
  padding-bottom: 10px;
}

.container__status-box {
  width: 100%;
}

.container__title {
  margin-bottom: 15px;
  font-size: 48px;
  color: #737373;
  text-align: center;
}

.container__loading i {
  font-size: 100px;
  width: 5%;
}

.container__error-box {
  height: 100vh;
}

.container__error-box h2 {
  font-size: 60px;
}

.container__not-found {
  gap: 15px;
}

.container__not-found i {
  font-size: 100px;
  color: #737373;
}

.header {
  width: 100%;
  gap: 20px;
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 22px 4px -21px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 22px 4px -21px rgba(0, 0, 0, 0.75);
}

.header, .header__cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  color: #737373;
  cursor: pointer;
}

.header__cart-icon {
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
}

.header__cart-icon i {
  color: #616161;
  font-size: 16px;
}

.header__cart-total {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5c1a;
  color: #fff;
  position: absolute;
  top: -16px;
  right: -8px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.form__input, .form__button {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #1a99e2;
  outline: none;
}

.form__input {
  width: 400px;
}

.form__input, .form__input::-webkit-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input:-ms-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input::-ms-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input::placeholder {
  font-size: 14px;
}

.form__button {
  height: 28px;
  background-color: transparent;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.form__button:hover {
  background-color: #f7e9ef;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.form__input, .form__button {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #1a99e2;
  outline: none;
}

.form__input {
  width: 400px;
}

.form__input, .form__input::-webkit-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input:-ms-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input::-ms-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input::placeholder {
  font-size: 14px;
}

.form__button {
  height: 28px;
  background-color: transparent;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.form__button:hover {
  background-color: #f7e9ef;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.categories__item {
  background-color: #ff5c1a;
  text-transform: capitalize;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  outline: none;
}

.categories__item:hover {
  background-color: #737373;
}

.products {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.products__item {
  -webkit-box-shadow: 10px 10px 7px -11px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 7px -11px rgba(0, 0, 0, 0.75);
}

.products__item__data, .products__item__cart {
  padding: 20px;
  background-color: #fff;
}

.products__item__img-box, .products__item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__item__img-box {
  height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__item__img {
  width: 100%;
}

.products__item__name, .products__item__price {
  font-weight: 400;
  color: #737373;
}

.products__item__name {
  font-size: 18px;
  height: 44px;
}

.products__item__price {
  font-size: 16px;
}

.products__item__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #737373;
}

.products__item__cart-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #616161;
  cursor: pointer;
  outline: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.products__item__cart-icon:hover:enabled {
  background-color: #ff5c1a;
}

.products__item__cart-icon i {
  color: #fff;
}

.products__item__cart-icon:disabled {
  opacity: 0.5;
}

.cart {
  padding: 10px;
}

.cart, .cart__without-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__title {
  margin-bottom: 15px;
  font-size: 64px;
  color: #ff5c1a;
}

.cart__list {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  margin-bottom: 15px;
}

.cart__payment-process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.cart__button-standard {
  grid-column: span	2;
  border: none;
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  outline: none;
}

.cart__button-standard--buy {
  background-color: #ff5c1a;
}

.cart__button-standard--home {
  background-color: #737373;
}

.cart__total, .cart__total-price {
  font-size: 40px;
  font-weight: 700;
}

.cart__total-price {
  color: #ff5c1a;
}

.cart__without-products {
  gap: 15px;
}

.cart__without-products i {
  font-size: 100px;
  color: #737373;
}

.cart__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 10px;
  gap: 15px;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
}

.cart__item__image {
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cart__item__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.cart__item__name {
  font-size: 18px;
  text-align: center;
  max-width: 263px;
}

.cart__item__category {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #737373;
}

.cart__item__price {
  font-size: 24px;
  color: #ff5c1a;
  font-weight: 600;
}

.cart__item__actions-box {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff5c1a;
  gap: 5px;
  border-radius: 30px;
}

.cart__item__quantity, .cart__item__button {
  color: #fff;
}

.cart__item__button {
  border: none;
  background-color: transparent;
  padding: 10px;
  outline: none;
}
/*# sourceMappingURL=styles.css.map */