@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
}

.container__main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.container__status-box {
  width: 100%;
}

.container__title {
  margin-bottom: 15px;
  font-size: 48px;
  color: #737373;
  text-align: center;
}

.container__loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__loading i {
  font-size: 100px;
  width: 5%;
}

.header {
  width: 100%;
  gap: 20px;
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 22px 4px -21px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 22px 4px -21px rgba(0, 0, 0, 0.75);
}

.header, .header__cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  color: #737373;
  cursor: pointer;
}

.header__cart-icon {
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
}

.header__cart-icon i {
  color: #616161;
  font-size: 16px;
}

.header__cart-total {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5c1a;
  color: #fff;
  position: absolute;
  top: -16px;
  right: -8px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.form__input, .form__button {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #1a99e2;
  outline: none;
}

.form__input {
  width: 400px;
}

.form__input, .form__input::-webkit-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input:-ms-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input::-ms-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input::placeholder {
  font-size: 14px;
}

.form__button {
  height: 28px;
  background-color: transparent;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.form__button:hover {
  background-color: #f7e9ef;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.form__input, .form__button {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #1a99e2;
  outline: none;
}

.form__input {
  width: 400px;
}

.form__input, .form__input::-webkit-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input:-ms-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input::-ms-input-placeholder {
  font-size: 14px;
}

.form__input, .form__input::placeholder {
  font-size: 14px;
}

.form__button {
  height: 28px;
  background-color: transparent;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.form__button:hover {
  background-color: #f7e9ef;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.categories__item {
  background-color: #ff5c1a;
  text-transform: capitalize;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  outline: none;
}

.categories__item:hover {
  background-color: #737373;
}

.products {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.products__item {
  -webkit-box-shadow: 10px 10px 7px -11px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 7px -11px rgba(0, 0, 0, 0.75);
}

.products__item__data, .products__item__cart {
  padding: 20px;
  background-color: #fff;
}

.products__item__img-box, .products__item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__item__img-box {
  height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__item__img {
  width: 100%;
}

.products__item__name, .products__item__price {
  font-weight: 400;
  color: #737373;
}

.products__item__name {
  font-size: 18px;
  height: 44px;
}

.products__item__price {
  font-size: 16px;
}

.products__item__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #737373;
}

.products__item__cart-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #616161;
  cursor: pointer;
  outline: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.products__item__cart-icon:hover {
  background-color: #ff5c1a;
}

.products__item__cart-icon i {
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */