.products__item {
  // padding: 0 10px;
  box-shadow: 10px 10px 7px -11px rgba(0,0,0,0.75);

  &__data, &__cart {
    padding: 20px;
    background-color: $white;
  }

  &__img {
    width: 100%;
  }

  &__name, &__price {
    font-weight: 400;
    color: $gray;
  }

  &__name {
    font-size: 18px;
  }

  &__price {
    font-size: 16px;
  }

  &__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $gray;
  }

  &__cart-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: $grayStrong;
    cursor: pointer;
    outline: none;
    transition: all ease .5s;

    &:hover {
      background-color: $orange;
    }

    & i {
      color: $white;
    }
  }
}