$white: #fff;
$gray: #737373;
$grayStrong: #616161;
$skyblue: #1a99e2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.container {
  min-height: 100vh;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}